# Application Kconfig file
#
# This is loaded when building this directory with west.
menu "Exercise Application Configuration"

config EXERCISE_SOFTWARE_VERSION
    string "Software Version"
    default "1.0.0"
    help
      The software version.

endmenu

source "Kconfig.zephyr"